In [421]:
# import librerie
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [422]:
# import dataset
dataset1 = pd.read_csv("./dataset/corona_fake.csv")
dataset2_real = pd.read_csv("./dataset/realnews.csv")
dataset2_fake = pd.read_csv("./dataset/fakenews.csv")

In [423]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164 entries, 0 to 1163
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1082 non-null   object
 1   text    1154 non-null   object
 2   source  1144 non-null   object
 3   label   1159 non-null   object
dtypes: object(4)
memory usage: 36.5+ KB

In [424]:
dataset2_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      925 non-null    int64
 1   Unnamed: 0.1    925 non-null    int64
 2   type            885 non-null    object
 3   fact_check_url  925 non-null    object
 4   archive         377 non-null    object
 5   news_url        885 non-null    object
 6   news_url2       93 non-null     object
 7   news_url3       60 non-null     object
 8   news_url4       34 non-null     object
 9   news_url5       15 non-null     object
 10  title           925 non-null    object
 11  newstitle       467 non-null    object
 12  content         416 non-null    object
 13  abstract        269 non-null    object
 14  publish_date    145 non-null    object
 15  meta_keywords   467 non-null    object
dtypes: int64(2), object(14)
memory usage: 115.8+ KB

In [425]:
dataset2_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4532 entries, 0 to 4531
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      4532 non-null   int64
 1   Unnamed: 0.1    4532 non-null   int64
 2   type            4529 non-null   object
 3   fact_check_url  4532 non-null   object
 4   news_url        4529 non-null   object
 5   title           4532 non-null   object
 6   newstitle       4508 non-null   object
 7   content         4024 non-null   object
 8   abstract        2847 non-null   object
 9   publish_date    1036 non-null   object
 10  meta_keywords   4508 non-null   object
dtypes: int64(2), object(9)
memory usage: 389.6+ KB

In [426]:
# eliminazione colonne ridondanti del primo dataset, rinominazione della colonna 'text' in 'content' e conversione in minuscolo delle label
dataset1 = dataset1[['title', 'text', 'label']].rename(columns={'text': 'content'})
dataset1['label'] = dataset1['label'].str.lower()

# eliminazione colonne ridondanti del secondo dataset ed aggiunta di 'true' e 'false' per le real news e fake news rispettivamente
dataset2_fake = dataset2_fake[['title', 'content']]
dataset2_fake['label'] = 'false'
dataset2_real = dataset2_real[['title', 'content']]
dataset2_real['label'] = 'true'

# concatenazione dei due dataset in un unico dataset
dataset = dataset1.append(dataset2_real).append(dataset2_fake)

In [427]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6621 entries, 0 to 924
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    6539 non-null   object
 1   content  5594 non-null   object
 2   label    6616 non-null   object
dtypes: object(3)
memory usage: 206.9+ KB

In [428]:
# check presenza valori nulli
dataset.isnull().sum()

title        82
content    1027
label         5
dtype: int64

In [429]:
# eliminazione rows in cui compaiono valori nulli
dataset.dropna(inplace=True)

In [430]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5509 entries, 0 to 924
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    5509 non-null   object
 1   content  5509 non-null   object
 2   label    5509 non-null   object
dtypes: object(3)
memory usage: 172.2+ KB

In [431]:
# combinazione delle colonne 'title' e 'content' in un'unica colonna 'title_content'
dataset['title_content'] = dataset['title'] + dataset['content']
dataset = dataset[['title_content', 'label']]

In [432]:
# eliminazione rows in cui compaiono valori duplicati
dataset.drop_duplicates(inplace=True)

In [433]:
# sostituzione di 'true' con 1 e 'false' con 0 nella colonna label
dataset['label'].replace('true', 1, inplace=True)
dataset['label'].replace('false', 0, inplace=True)

In [434]:
dataset.sample(5)

                                          title_content label
1523  "WHO and Rakuten Viber fight COVID-19 misinfor...     1
2742  How a Housing Crisis Could Make COVID-19 Even ...     1
3978  Four U.S. Counties Remain COVID-freethis websi...     1
3676  The Red Flags That Alarm Experts as COVID-19 V...     1
4412  Implementing Filtering Facepiece Respirator (F...     1